# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & Secrets
.env
*.pem

# Archives
*.zip
*.tar.gz

# Python
venv/
__pycache__/
*.pyc

# Data Files
*.csv
*.xlsx
*test*.json
campaigns_log_remote.json
~$*.xlsx

# Local Scripts
scratch/
deploy_temp/
